body {
    background: url(images/drew-beamer-kUHfMW8awpE-unsplash.jpg)  ; 
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    height: 100vh;
  }

.div1{
    text-align: center;
}


table,th,td{
  border: 1px solid #000;
  border-collapse: collapse;
}

table{
  overflow: scroll;
}

#buscarSubred, #buscarbrodcast,#generarSubred{
  padding: auto auto;
  margin-left: 10px;
  font-size: 12px;
}